.copywriting
{
    font-family: 'Cafe24Ssurround';
    font-size: 30px;
    margin : 0px 0px 0px 0px;
    white-space: pre-line;
}
.copywriting2
{
    
    font-family: 'Cafe24Ssurround';
    font-size: 21px;
    margin : 0px 0px 0px 0px;
    white-space: pre-line;
}