@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'EliceDigitalBaeum-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.total_box
{
    display :flex;
    background-color: rgb(237, 243, 248);
    width: 100%;
    height: 100%;
     //border-radius: 3px;
     //border-color: yellow;
     //border-style: dashed;
}

.left_box
{
    float: left;
    width: 50%;
    height: 1100px;
     //border-radius: 3px;
     //border-color: red;
     //border-style: dashed;
}
.left_box_line{
    text-align: center;
    margin:90px 80px 0px 0px;
    float: right;
    width: 80%;
    height: 12%;
     //border-radius: 3px;
     //border-color: black;
     //border-style: dashed;
}

.right_box_three
{
    margin: auto;
    width: 80%;
    height: 100%;
    //border-color: black;
    //border-style: dashed;
}

.right_box_line{
    margin: 0px 0px 30px 185px;
    margin-top: 16.5%;
    text-align: center;
    width: 50%;
    height: auto;
     //border-radius: 3px;
        //border-color: black;
        //border-style: dashed;
}
.left_box_first
{
    margin:300px 0px 0px 0px;
    float: right;
    width: 80%;
    height: 40%;
     //border-radius: 3px;
    // border-color: cyan;
     //border-style: dashed;
}
.right_box_Cal
{   
    
    margin:auto;
    width: 80%;
    height: 55%;
     //border-radius: 3px;
     //border-color: cyan;
    //border-style: dashed;
}
.right_box_second
{
    margin:560px 0px 0px 0px;
    float: right;
    width: 80%;
    height: 30%;
     //border-radius: 3px;
     //border-color: black;
     //border-style: dashed;
}
.left_box_graph
{
    margin:50px 80px 0px 0px;
    float: right;
    width: 80%;
    height: 50%;
     //border-radius: 3px;
     //border-color: cyan;
     //border-style: dashed;
}
.right_box
{
    display: flex;
    width: 50%;
    height: 900px;
     //border-radius: 3px;
     //border-color: blue;
     //border-style: dashed;
}
.right_box_two
{   
    display : flex;
    width: 50%;
    height: 900px;
     //border-radius: 3px;
     //border-color: blue;
     //border-style: dashed;
}

.right_box_first
{

    margin: auto;
    margin-top: 20%;
    width: 75%;
    height: 75%;
    // border-radius: 3px;
    // border-color: magenta;
    // border-style: dashed;
    text-align: center;
}

.span_button
{
    background: #64f4ac;
    border-radius: 4px;
    color: #051441;
    font-family: 'EliceDigitalBaeum-Bd';
    letter-spacing: 5px;
    font-size: 16px;
    padding: 10px 25px;
    margin: 0px 30px 0px 0px;
}

.button
{
    font-family: 'Noto Sans KR';
}

.copywriting
{
    font-family: 'Cafe24Ssurround';
    font-size: 50px;
    margin : 30px 0px 0px 0px;
    white-space: pre-line;
}

.character
{
    position: relative;
    width:100%;
    z-index: 100;
}

.landmark
{
    position: absolute;
    width: 8%;
    top: 200px;
    right: 700px;
    z-index: 0;
}

.bubble
{
    position: absolute;
    width: 10%;
    top: 290px;
    right: 100px;
    z-index: 0;
}

.python
{
    position: absolute;
    width: 10%;
    top: 500px;
    right: 700px;
    z-index: 0;
}